

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/java.jpg" class="card-img-top" alt="Java">
                    <div class="card-body">
                      <h5 class="card-title">JAVA COURSE</h5>
                      <p class="card-text">Advanced JAVA Full Stack Program development of both front-end (client-side) and back-end (server-side) parts of a web application, the skills required to develop full stack web applications using Java</p>

                      <a routerLink="/register" class="btn btn-primary">Enroll</a>
                    </div>
                  </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/st.jpg" class="card-img-top" alt="st">
                    <div class="card-body">
                      <h5 class="card-title">SOFTWARE TESTING</h5>
                      <p class="card-text">Advanced SoftWare Testing ,you will learn about the latest tools and technologies.Planning to teach realtime testing in full stack projects.going to teach new technologies and tools</p>
                      <a routerLink="/register" class="btn btn-primary">Enroll</a>
                    </div>
                  </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/img/Python.png" class="card-img-top" alt="Java">
                    <div class="card-body">
                      <h5 class="card-title">PYTHON COURSE</h5>
                      <p class="card-text">Advanced Pyhton Programming class,A comprehensive training program designed to teach individuals the skills required to develop full stack web applications using Python. </p>
                      <a routerLink="/register" class="btn btn-primary">Enroll</a>
                    </div>
                  </div>
            </div>

        </div>
    </div>
</div>