<button class="btn" (click)="back()" ><i class="fa fa-arrow-left" aria-hidden="true"></i>
</button>

<div class="modal fade" id="studentinsertModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="studentModalLabel">Insert New Record</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<form #insertform="ngForm" (ngSubmit)="insertdata(insertform)">  
    <label>ROLL NO : </label>
    <input type="text" class="form-control"  id="rollno" name="rollno" #rollno (ngModel)="rollno" >
    
    <label>STUDENT NAME : </label>
    <input type="text" class="form-control"  id="name" name="name" #name (ngModel)="name">
    
    <label>COURSE : </label>
    <input type="text" class="form-control"  id="course" name="course" #course (ngModel)="course">
    
    <label>ADDRESS : </label>
    <input type="text"class="form-control"   id="address" name="address" #address (ngModel)="address">
    
    <label>CONTACT : </label>
    <input type="number" class="form-control"  id="contact" name="contact" #contact (ngModel)="contact">
    <br>

    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    
    <input type="submit" class="btn btn-info mx-2" value="insert">
  </form>
  </div>
  </div>
  </div>
  </div>
