    



<div align="center">
    <h2>DashBoard</h2>
    <div class="divider" ></div>
</div>


<div class="container">
    <div class="row" >
        <div class="col-md-4 col-xl-4 col-4">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <div class="row">
                        <h6 class="m-b-20">Total Students</h6>
                        <div class="col-8">
                            <span class="text-right">{{data}}</span>
                            
                        </div>
                        <div class="col-4">
                            <i class="fa-solid fa-graduation-cap"></i></div>
                        </div>
                  <!--      <a routerLink="studentview" routerLinkActive="Active">view</a>   -->
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-4 col-4">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <div class="row">
                    <h6 class="m-b-20">Total Teachers</h6>
                    
                    <div class="col-8">
                        <span class="text-right">{{data1}}</span>
                    </div>
                    <div class="col-4">
                        <i class="fa-regular fa-user"></i>
                    </div>
              <!--      <a routerLink="teacherview">view</a>    -->
                    </div>
                     </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-4 col-4">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <div class="row">

                    <h6 class="m-b-20">Payments</h6>
                    <div class="col-8"></div>
                    <div class="col-4">
                    <i class="fa-brands fa-paypal"></i></div>
              <!--      <a routerLink="paymentview">view</a>    -->
                    </div>
                </div>
            </div>
        </div>
        
