
<div class="banner">

<button class="btn" routerLink="/landing"><i class="fa-solid fa-arrow-left"></i></button>


<div class="container mt-3 mb-3">
    
    <h2 style="text-align: center;" class="text-muted"> About</h2><br>

    <p class="blockquote" style="font-size: 16px;" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, voluptates numquam beatae sapiente dolorem et placeat libero necessitatibus veritatis delectus animi quas ipsam. Unde earum tempore minima exercitationem commodi inventore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum iure illum voluptatibus? Nulla quia deleniti excepturi delectus ea veniam magnam eius accusamus odit, asperiores alias obcaecati, rem nostrum laudantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reiciendis, saepe deleniti dolore eligendi assumenda recusandae eos qui amet sunt inventore voluptates ipsum repellendus dolorem aspernatur doloribus! Sequi, repellat dolores!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus illo autem molestiae delectus blanditiis nemo placeat totam consequatur accusantium omnis odio odit debitis amet temporibus, itaque possimus quibusdam. Doloribus, facere.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque minima explicabo provident temporibus doloribus quidem ipsam suscipit maiores laboriosam vitae officia cupiditate, saepe praesentium numquam doloremque quisquam vel iusto debitis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem alias fuga ipsam id sed, magnam cupiditate tenetur explicabo quasi veniam enim accusamus placeat amet vel perferendis sunt, voluptate voluptas dolorum!
        <br/>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi officiis consequatur voluptatibus magnam, at odio commodi saepe harum dolorem. Commodi dignissimos animi recusandae voluptas voluptatum quo ex, a quos architecto.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolorum corporis, ad laborum rem aut dicta saepe aspernatur nostrum tempore placeat, aliquid esse architecto sit voluptatibus quisquam sapiente nesciunt eum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore at labore architecto molestias itaque tempora voluptatum vel inventore earum facere, dolorum deleniti, necessitatibus illo exercitationem blanditiis voluptatem. Tempora, debitis hic.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius adipisci quis, obcaecati facilis soluta saepe! Nisi nobis dolores sunt possimus iure ullam enim inventore, assumenda laboriosam commodi consectetur ad deleniti!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea facere quae animi saepe corporis molestias, corrupti minima quo maiores blanditiis deleniti temporibus natus amet eos illum expedita, nihil laudantium perspiciatis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officia, aspernatur sunt voluptatum minima quia unde quisquam numquam, dolor nostrum nobis iste nam. Sapiente impedit excepturi voluptatem eos veritatis rem.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum omnis optio nisi, vitae, doloribus assumenda aspernatur eaque, perferendis neque doloremque consequuntur soluta quis nam deleniti voluptas sapiente voluptatibus facere quos?
        
    </p>
</div>

</div>